. {
    padding: 0;
    margin: 0;
}
.main-sidebar {
    height: 600px;
    overflow: auto;
}
.sidebar {
    height: auto;
    /*overflow: hidden;*/
}
.ul_block_left {
    margin: 0;
    padding: 0;
    width: 100%;
}

.li_block_left {
    border-top: 1px #6E6E6E solid;
    border-bottom: 1px #6E6E6E solid;
    height: auto;
    text-align: left;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 10px;
}

.li_block_left:hover {
    color: #1a2226;
    cursor: pointer;
    background-color: #316b8c;
    padding-bottom: 5px;
    padding-top: 5px;

}

.a_block_left {
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-align: center;
}

li > i {
    margin-right: 5px;
}

.fa-times {
    color: red;
    font-size: 14px;
}

.child_menu {
    margin: 0px;
    display: none;
}

.open_menu {
    display: list-item !important;
    list-style: disc;
    padding-left: 0px !important;

    /*padding-right: 20px;*/
}
.open_menu li {
    height: 30px;
    border-bottom: 1px #2c4762 solid;
    align-content: center;
    text-align: left;
    padding-left: 50px;
    background-color: #dadada;
    color: black;
}
.child_menu li:hover {
    background-color: #94b9c3;
}
.child_title {
    text-align: center;
    vertical-align: sub;
    /*padding-left: 20px;*/
    font-size: 15px;
    cursor: pointer;
    text-decoration: underline !important;
}

.fa_child {
    vertical-align: sub;
}

.a_child {
    color: black !important;
}

.child_title:hover {
    text-decoration: none !important;
}
.fa_child {
    color: black !important;
}

.child_menu a {
    padding-left: 5px;
    text-align: left;
}

.close::after {
    content: '▶ ';
}

.open::after {
    content: '▼ ';
}

.label_form_add {
    font-size: 16px;
}

select option:checked {
    background-color: #bbe3ff;
}